.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-vertically-content{
    display: flex;
    align-items: center;
}

.aligned-to-right-content{
    display: flex;
    justify-content: flex-end;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}

.text-with-ellipsis{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
