.footer{
    position: fixed;
    font-size: 18px;
    bottom: 0;
    left: 10px;
    right: 10px;
    margin: 10px;
    text-align: center;
}

.footer-icon{
    margin-left: 5px;
    height: 18px;
    width: 18px;
}