.header {
    position: fixed;
    top: 0;
    left: 10px;
    right: 10px;
    margin: 0 10px 10px;
    box-shadow: 0 4px #bbb;
    background: white;
}

.logo {
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 40px;
    color: orange;
    width: 40px;
    height: 40px;
    white-space: nowrap;
}

.search-input {
    height: 28px;
    width: 20vw;
}

.header-icon {
    height: 25px;
    width: 25px;
}

.header-icon:hover{
    cursor: pointer;
}

.search-icon {
    color: #444;
}

.gray-icon {
    color: #777;
}

.search-input:focus {
    border: black solid 2px;
}

.profile-icon {
    background: orange;
    padding: 5px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 20px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: black;
    padding-left: 12px;
    padding-right: 16px;
    text-decoration: none;
}

.dropdown-content{
    cursor: pointer;
}

.dropdown-content p:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .profile-icon {
    background-color: #ddd;
}

.profile-menu-paragraph {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 25px;
}

.logout-paragraph{
    color: red;
}