.main-content-holder {
    position: absolute;
    top: 53px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow-x: hidden;
}

.categories-and-panel-holder {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 280px);
}

.category-holder {
    height: 45px;
    overflow-x: auto;
}

.category {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    border-radius: 30px;
    color: #222222;
    background-color: #dddddd;
    border: 1px solid #999999;
    padding: 3px 13px;
    width: auto;
    user-select: none;
    white-space: nowrap;
}

.selected-category {
    color: aliceblue;
    border: none;
    background-color: orange;
}

.category:hover {
    cursor: pointer;
}

.video-panel {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 200px;
    gap: 20px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.video-holder {
    display: flex;
    flex-direction: column;
}

.cat-video {
    width: 300px;
    height: 200px;
}

.cat-video:hover{
    filter: brightness(20%);
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.video-description {
    display: flex;
    align-items: center;
}

.video-owner-icon {
    width: 35px;
    height: 35px;
    margin: 6px;
    border-radius: 50%;
}

.video-description-text {
    font-family: "Arial Rounded MT Bold", serif;
    font-size: 20px;
    max-width: 225px;
    width: 225px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
}

.video-description-text:hover {
    cursor: pointer;
    color: orange;
}

.video-title {
    font-size: 20px;
    margin: 0;
}

.video-owner-nickname {
    font-size: 12px;
    margin: 0
}

.video-settings-icon {
    width: 20px;
    height: 20px;
}

.video-settings-icon:hover {
    cursor: pointer;
}

@media screen and (max-width: 1200px) {

    .categories-and-panel-holder {
        max-width: calc(100% - 50px);
    }
}