.side-panel {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    max-width: 280px;
    width: 280px;
    top: 0;
    bottom: 0;
}

.streamers-scroll{
    overflow-y: auto;
    height: calc(100% - 150px);
}

.streamer-information {
    display: flex;
    align-items: center;
    font-size: 22px;
    max-height: 45px;
    margin-left: 5px;
    margin-right: 5px;
}

.streamer-icon {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;
}

.streamer-nickname{
    font-family: "Arial Rounded MT Bold", serif;
    max-width: 160px;
}

.subscribers-information{
     display: flex;
     align-items: center;
     margin-left: auto;
     margin-right: 5px;
 }

.subscribers-amount {
    font-size: 22px;
    float: right;
}

.activity-indicator {
    background: red;
    border-radius: 50%;
    float: left;
    margin-right: 6px;
    width: 8px;
    height: 8px;
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
}

.streamer-information:hover{
    background-color: #bbbbbb;
    cursor: pointer;
}

.information-block{
    font-size: 22px;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    height: 170px;
    width: 100%;
    border-top: 3px solid #eee;
}

.information-content-holder{
    background-color: #bbbbbb;
    position: absolute;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
}

.information-block p::selection{
    background-color: orange;
    color: white;
}

.information-icon{
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.information-icon:hover{
    color: orange;
    cursor: pointer;
}

@media screen and (max-width: 1200px){

    .side-panel{
        max-width: 50px;
    }

    .information-content-holder,
    .streamer-nickname,
    .subscribers-information{
        display: none;
    }
}